div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px double black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(6);
    transition-delay: 2s; */
    transition: all 2s steps(5) 4s;

}
div:hover{
    background-color: brown;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}
div:active{
    background-color: rgb(255, 0, 0);
}