div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px double black;
    position: absolute;
    top: 290px;
    bottom: 300px;
    right: 200px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(6);
    transition-delay: 2s; */
    transition: all 2s ease-in ; 
    /* rotate: 45deg; */
    /* transform: scale(2); */

}
div:hover{
    /* background-color: brown;
    color: beige;
    font-family: 'Courier New', Courier, monospace; */
transform: skew(30deg);
}
div:active{
    background-color: rgb(255, 0, 0);
}