div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px double black;
    position: absolute;
    top: 290px;
    bottom: 300px;
    right: 200px;
    border-radius: 50%;
 /* animation-name: myname;
 animation-duration: 2s;
 animation-timing-function: ease-in;
animation-delay: 0.25s;
animation-iteration-count: infinite;
animation-direction: reverse; */
animation: myname 2s ease-in 1s infinite normal;
}
@keyframes myname{
    0%{
        left:0px;
        background-color: aqua;
    }
    25%{
        background-color: blue;
        color: white;
    }
    100%{
    left: 200px;
    background-color: brown;
    }
}

